/* datatable overrides */

table.dataTable.hover tbody tr td {
	border-bottom: solid 1px #eee;
}
table.dataTable td {
	cursor: default;
}
table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
	background-color: #f0f0f0;
}
table.dataTable.stripe tbody tr.odd.selected,
table.dataTable.display tbody tr.odd.selected {
	background-color: #F7F780;
}
table.dataTable.stripe tbody tr.even.selected,
table.dataTable.display tbody tr.even.selected {
	background-color: #F7F700;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.odd:hover.selected {
	background-color: #F7F780;
}
table.dataTable.hover tbody tr:hover.selected,
table.dataTable.hover tbody tr.even:hover.selected {
	background-color: #F7F700;
}
table.dataTable.hover tbody tr:hover td,
table.dataTable.hover tbody tr.odd:hover {
	border-bottom: solid 1px #F7F780;
}
table.dataTable.hover tbody tr:hover td,
table.dataTable.hover tbody tr.even:hover {
	border-bottom: solid 1px #F7F700;
}
/* override default hover colors */

table.dataTable.hover tbody tr.even:hover,
table.dataTable.display tbody tr.even:hover {
	background-color: #fff;
}
table.dataTable.hover tbody tr.odd:hover,
table.dataTable.display tbody tr.odd:hover {
	background-color: #f0f0f0;
}
/* colVis formatting */

ul.ColVis_collection {
	width: 200px;
}
button.ColVis_Button {
	margin-left: 10px;
	height: 25px;
	-webkit-box-shadow: 1px 1px 1px #ccc;
	-moz-box-shadow: 1px 1px 1px #ccc;
	-ms-box-shadow: 1px 1px 1px #ccc;
	-o-box-shadow: 1px 1px 1px #ccc;
	box-shadow: 1px 1px 1px #ccc;
}
